-
  var meta = {
    dir: './',
    title: 'Card Slider Jquery Plugin'
  }

html
  include ./_structure/_head
  body

    include ./_structure/_script

    -var count = 6
    include ./_slide

    -var count = 5
    include ./_slide

    -var count = 4
    include ./_slide

    -var count = 3
    include ./_slide

    -var count = 2
    include ./_slide

    -var count = 1
    include ./_slide
